@charset "UTF-8";
/* CSS Document */

html {
	height: 100%;
}

button {
	font-family: "Chewy";
}

a:hover {
	text-decoration: none;
}

h3, h1, h2{
	font-family: 'Chewy';
}

p {
	font-family: Arial, "sans-serif";
	font-size: 1rem;
}

body {
	height: 100%;
	position: relative;
	padding-bottom: 80px;
	padding-top: 90px;
}
label
{
	font-family: 'Chewy';
}

placeholder
{
	font-family: 'Chewy';
}

.container-fluid {
	padding-right: 0px;
	padding-left: 0px;
}


.hidden {
	display: none;
}

.navbar_nav li a{
	font-family: "Chewy";
}

nav a{
	font-family: 'Chewy';
	font-size: 1.5rem;
}

.navbar {
	background-image: linear-gradient(#028ec2,#00aeef) !important;
	box-shadow: 0px 8px 15px rgba(0, 0, 0, .25);
	min-height: 90px;
	position: fixed;
}

.navbar-nav {
	height: 500px;
	  max-height: 500px;
	  width: 100%;
	  overflow-y: scroll;
	-webkit-overflow-scrolling:touch;
	 justify-content: space-around;
	display: flex;
	padding: 5px;

}


.nav-item {
	transition: 0.4s;
  color: #fff;
  font-size: 20px;
  text-decoration: none;
  padding: 0 ;
  margin: 0;
}

.nav-item:hover {
	background-image: linear-gradient(#00aeef, #028ec2) !important;
  color: #EEA200;
  padding: 15px 10px;
}

.nav-item {
	padding-right: 10px;
	padding-left: 10px;
	display: inline;
}

.navbar-brand img{
	width: 70%;
	margin: 0;
}

.navbar-toggler {
	border: none;
	
}

/* JUMBOTRON*/

.jumbotron {
	height: 400px;
	background-image: url(../images/../images/testimonial_bg2.jpg);
	background-size:cover;
	margin-top: 50px;

}

.jumbotron button {
	float: left;
	margin-top: 30px;
}


/* GALLERY */

#gallery-jumbotron {
	background-image: url(../images/gallery-jumbot.jpg);
	background-size: cover;
}

#carousel {
	margin: 0px 10px 10px 10px;
}


.carousel-indicators li {
  width: 10px;
  height: 10px;
  border-radius: 100%;
}

/* HOME CARDS */

.book_pos {
	margin-top: 20px;
	clear: both;
	box-shadow: 0px 5px 15px rgba(0, 0, 0, .25);
	margin: 20px;
	padding-bottom: 20px;
	padding-top: 10px;
}


.book_pos img {
	width: 70%;
}

.book_pos h3{
	text-align: center;
	margin-top: 10px;
}

.book_pos p {
	margin-top: 10px;
}


.rounded {
    border-radius:1.5rem!important;
}

.vol_pos {
	clear: both;
	box-shadow: 0px 5px 15px rgba(0, 0, 0, .25);
	margin: 20px;
	padding-bottom: 20px;
	padding-top: 10px;
}

.vol_pos {
	text-align: center;
}

.vol_pos p {
	margin-top: 10px;
}

.vol_pos h3 {
	margin-top: 10px;
}


/* TESTIMONIALS*/


.testimonials {
	bottom: 0;
	margin-top: 40px;
}
.testimonials .container-fluid {
	background: #d9a7c7;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #fffcdc, #d9a7c7);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #fffcdc, #d9a7c7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	padding: 10px;
}

.testimonials h4 {
	font-size: 1rem;
	font-family: "Chewy";
}

.testimonials .carousel-indicators {
	bottom: -20px;
}

.carousel-inner .img-box {
	width: 135px;
	height: 135px;
}


.container-fluid {
	overflow: hidden;
}


/* FOOTER*/

#mainFooter {
	width: 100%;
	margin-top: 30px;
}


footer img {
	width:100%;
}


#footer2 {
	background: #2b2010;
	padding: 50px;
	min-height: 40px;
	position: relative;
}

.location {
	width: 25px;
	margin-right: 10px;
	margin-bottom: 10px;
}

#footer2 ul {
	list-style: none;
	display: inline;
}

.footerIcon {
	clear:both;
	float: left;
	vertical-align:top;
}

.footerIcon p {
	font-size: 1rem;
}

.sec-footer {
	background-color:#100800;
}

.f-donate {
	margin-right: 10px !important;
}
.jenInfo {
	float: right;
	vertical-align:top;
}

.jenInfo p {
	font-size: 1rem;
}




/*ABOUT PAGE*/


#about-jumbotron {
	background-image: url(../images/testimonial_bg3.jpg)!important;
}

.Jen-desc {
	clear: both;
	box-shadow: 0px 5px 15px rgba(0, 0, 0, .25);
	margin: 20px;
	padding-top: 20px;
	padding-bottom: 20px;
	top: 50px;
	min-height: 90px;
	background-image: linear-gradient(#69d4fd, #fff);
	
}

.about-jen-img {
	width: 55%;
	top: -120px;
	bottom: 0 !important;
	float: right;
	right: -20px;
}

.Jen-desc p {
	margin-top: 20px;
}

.book1 {
	margin-top: 80px;
}

.book2 {
	margin-top: 80px;
	margin-bottom: 30px;
}
.book1 img {
	width: 50%;
}

.book2 img {
	width: 50%;
}

.chico-desc {
	top: 30px;
	margin-bottom: 40px;
	margin-left: 20px;
	margin-right: 20px;
	padding: 20px;
	clear: both;
	box-shadow: 0px 5px 15px rgba(0, 0, 0, .25);
	min-height: 90px;
	background-image: linear-gradient(#69d4fd, #fff);
}

.chico-desc img {
	width: 50%;
}


.illus-desc {
	top: 50px;
	margin-bottom: 40px;
	margin-left: 20px;
	margin-right: 20px;
	padding: 20px;
	clear: both;
	box-shadow: 0px 5px 15px rgba(0, 0, 0, .25);
	min-height: 90px;
	background-image: linear-gradient(#69d4fd, #fff);
}


/* News */
#news-jumbotron {
	background-image: url(../images/news_jumbotron.jpg)!important;
}


.cda1 {
	width: 80%;
}

.cda2 {
	width: 70%;
}


/* Donate */

#donate-jumbotron {
	background-image: url(../images/testimonial_bg1.jpg)!important;
}


.formCard {
	border-radius: 3px;
	min-height: 250px;
	margin-top: 20px;
	box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
	padding: 10px;
	box-sizing: border-box;
	margin: 10px 0 30px 0;
}

.formCard button {
	width: 90px;
	margin: 10px;
}
.formCard img {
	margin: 20px 0pc 20px 0px;
}

.val-input {
	width: 25%;
}
/* Progress Bar */
#progressbar {
	counter-reset: step;
	margin-bottom: 90px;
}

#progressbar li {
	list-style-type: none;
	float: left;
	width: 45%;
	position: relative;
	text-align: center;
	color: #C6C6C6;
}

#progressbar li:before {
	content: counter(step);
	counter-increment: step;
	width: 40px;
	height: 40px;
	line-height: 30px;
	display: block;
	text-align: center;
	margin: 0 auto 10px auto;
	background: url(../images/paw.svg) no-repeat;
	
}

#progressbar li:after {
	content: '';
	position: absolute;
	width: 80%;
	height: 2px;
	background-color: #ccc;
	top: 15px;
	left: -40%;
	z-index: -2;
}

#progressbar li:first-child:after {
	content: none;
}

#progressbar li:nth-child(2) {
		opacity: 0.5;
}


#progressbar li.active {
	color: black;
	font-weight: bolder;
}

#progressbar li.active:before {
	border-color: black;
}

#progressbar li.active + li:after {
	background-color:#E2E1E1;
}

/* Progress Bar ORDER*/
#progressbar-order {
	counter-reset: step;
	margin-bottom: 90px;
}

#progressbar-order li {
	list-style-type: none;
	float: left;
	width: 33%;
	position: relative;
	text-align: center;
	color: #C6C6C6;
}

#progressbar-order li:before {
	content: counter(step);
	counter-increment: step;
	width: 40px;
	height: 40px;
	line-height: 30px;
	display: block;
	text-align: center;
	margin: 0 auto 10px auto;
	background: url(../images/paw.svg) no-repeat;
	
}

#progressbar-order li:after {
	content: '';
	position: absolute;
	width: 80%;
	height: 2px;
	background-color: #ccc;
	top: 15px;
	left: -40%;
	z-index: -2;
}

#progressbar-order li:first-child:after {
	content: none;
}

#progressbar-order li:nth-child(2) {
		opacity: 0.5;
}

#progressbar-order li:nth-child(3){
	opacity: 0.5;
}

#progressbar-order li.active {
	color: black;
	font-weight: bolder;
}

#progressbar-order li.active:before {
	border-color: black;
}

#progressbar-order li.active + li:after {
	background-color:#E2E1E1;
}


.donators {

	margin: 20px 20px 20px 20px;
	padding: 10px;
	border-radius: 25px;
	height: 100%;
	box-shadow: 0px 5px 15px rgba(0, 0, 0, .25);
}

#donators-jumbotron {
	background: url(../images/donator-jumbotron.jpg) !important;
	
}

.donators p {
	position: inherit;
	overflow: inherit;
}

.donators img {
	width: 50%;
}

.donators h3 {
	margin-top: 10px;
	margin-bottom: 10px;
	text-align: center;
}

/*GALLERY*/

#galleryHeader {
	margin-top: 50px;
	text-align: center;
}

#myCarousel
{
	margin-top: 10px;
	
}

#myCarousel .list-inline {
	margin-top: 20px;
	margin-right: 0px;
    white-space:nowrap;
    overflow-x:auto;
	padding:10px;
	background-color: linear-gradient(to right, #fffcdc, #d9a7c7);
	border-radius: 5px;
	box-shadow: 0px 5px 15px rgba(0, 0, 0, .25);
}

#myCarousel .carousel-indi {
    position: static;
    left: initial;
    width: initial;
    margin-left: initial;
}

#myCarousel .carousel-indi > li {
    width: initial;
    height: 60px;
    text-indent: initial;
}

#myCarousel .carousel-indi > li.active img {
    opacity: 0.5;
}

/*CONTACT*/

.shadow-textarea textarea.form-control::placeholder {
    font-weight: 300;
}
.shadow-textarea textarea.form-control {
    padding-left: 0.8rem;
}


/*Testimonials*/

#testi{
	margin-top: 80px;
}

/*Order*/

.order-img {
	width: 50%;
}

/*MEDIA QUERIES*/

@media (max-width: 575.98px) {
		nav a{
	font-family: 'Chewy';
	font-size: 1rem;
}
	.navbar-brand img{
	width: 50%;
}
	.book2 {
		margin-top: 30px;
	}
}

@media (min-width: 536px) {
	nav a{
	font-family: 'Chewy';
	font-size-adjust: auto;
	}
	.navbar-brand img{
	width: 60%;
	}
	
}

@media (min-width: 736px) {
	.navbar-nav {
		height: 90px;
	}
	.navbar-brand img{
	width: 70%;
}
	.dropdown {
		overflow: visible;
	}
	.navbar-nav {
		overflow: visible;
	}
	.nav-item:hover {
		background: url(../images/hover.svg) no-repeat center !important;
		text-align: center;
		display: block;
		transition-delay: 0s;
	}
	.cda2 {
		height: 100%;
	}
	.about-jen-img {
		width: 80%;
		right: -10px;
	}
}

@media (max-width: 767.98px) { 
		nav a{
	font-family: 'Chewy';
	font-size: 1rem;
}
	.navbar-brand img{
	width: 50%;
}
	#myCarousel {
		margin-top: 150px;
	}
}

@media (max-width: 550px) {
	#myCarousel {
		margin-top: 100px;
	}
}

@media (max-width: 375px) {
	#myCarousel {
		margin-top: 50px;
	}
}